@import '../../commonCss/detailCommon.scss';

.train_intro_box {
  border-bottom: 0.1rem solid #ddd;
  padding-bottom: 4rem;

  figure {
    width: 100%;
    height: 35rem;
  }

  @for $i from 1 through 5 {
    .item0#{$i} {
      background-image: url('../../../../public/training_0#{$i}.jpg');
    }
  }
}

.train_guide {
  border-bottom: 0.1rem solid #ddd;

  .guide_title {
    margin-bottom: 4rem;
  }

  .guide_box {
    margin-bottom: 3.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    .after_effect {
      position: relative;
      margin-bottom: 3rem;
      font-size: 1.9rem;
      font-weight: 600;

      &::after {
        content: '';
        position: absolute;
        top: 140%;
        left: 0;
        width: 4rem;
        height: 0.2rem;
        background-color: $mc;
      }
    }

    .guide_list {
      >li {
        margin-left: 2rem;
        list-style-type: circle;

        strong {
          display: block;
          padding: 1rem 0;
          font-size: 1.7rem;
          font-weight: 400;
        }

        .warning_list {
          >li {
            margin-left: 3rem;
            list-style-type: disc;

            strong {
              display: block;
              transform: translateY(5%);
              font-size: 1.4rem;
              font-weight: 400;
              color: #999;
            }
          }
        }
      }
    }
  }
}

.train_form {
  .train_table {
    margin-bottom: 4rem;
    border-top: 0.2rem solid #000;
    border-bottom: 0.2rem solid #000;
    font-size: 1.8rem;

    .error_modal {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 0.1rem solid $sc;
      padding: 5rem;
      background-color: #f9f9f9;

      p {
        margin-bottom: 1.5rem;
        font-size: 2.6rem;
        text-align: center;
      }

      button {
        display: block;
        margin: 0 auto;
        border: none;
        padding: 1rem 2rem;
        font-size: 1.5rem;
      }
    }

    thead {
      display: none;
    }

    tbody {
      tr {
        th {
          &.table_title {
            border-bottom: 0.1rem solid #ddd;
            padding: 5rem 0;
            width: 12%;
          }

          &.table_stitle {
            border-left: 0.1rem solid #ddd;
            border-right: 0.1rem solid #ddd;
            border-bottom: 0.1rem solid #ddd;
            padding: 0 2em;
            width: 15%;
            font-size: 1.7rem;
            font-weight: 400;
            text-align: left;
          }

          background-color: #f9f9f9;
        }

        td {
          border-bottom: 0.1rem solid #ddd;
          padding: 1.5rem 1.5rem 1.5rem 5rem;
          width: 100%;

          &.gender {
            display: flex;
            gap: 1.5rem;

            .gender_box {
              display: flex;
              gap: 1rem;
              font-size: 1.8rem;

              strong {
                display: block;
              }
            }
          }

          &.select_set {
            display: flex;
            gap: 1.5rem;

            select {
              border: 0.1rem solid #ddd;
              padding-left: 2rem;
              width: 20%;
              height: 4rem;
              font-size: 1.5rem;
              text-align: left;
            }

            strong {
              transform: translateY(40%);
            }
          }


          input[type="text"],
          input[type="tel"] {
            border: 0.1rem solid #d9d9d9;
            padding: .5rem;
            font-size: 1.9rem;
          }

        }
      }
    }
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}