@import '../../commonCss/detailCommon.scss';

.youtube {
  border-bottom: 0.1rem solid #ddd;

  .container {
    .semi_title {
      margin-bottom: 3rem;

      h4 {
        @include semiTitle;
      }
    }

    .player_list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      position: relative;
      width: 82rem;

      &::before {
        content: '';
        position: absolute;
        top: 25%;
        left: -40%;
        z-index: -999;
        width: 150rem;
        height: 40rem;
        background-color: $sc;
      }
    }
  }
}