@import '../../../../commonCss/detailCommon.scss';

.post_view {
  .container {
    .title_bar {
      display: flex;
      flex-direction: column;

      .top_info {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.4rem 0.9rem -0.5rem #ddd;
        padding: 2rem 1.5rem;

        .post_info {
          display: flex;
          gap: 5rem;

          strong {
            display: block;
            font-size: 2.5rem;
          }

          h4 {
            font-size: 2.5rem;
          }
        }

        .right {
          span {
            font-size: 1.9rem;
          }
        }
      }

      .bottom_info {
        border-bottom: 0.1rem solid #e9e9e9;
        padding: 2rem 1.5rem;

        .info_list {
          display: flex;
          justify-content: flex-end;

          li {
            padding-left: 1.5rem;

            &:nth-child(-n+2) {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                top: 50%;
                margin-left: 0.8rem;
                transform: translateY(-50%);
                width: 0.1rem;
                height: 1rem;
                background-color: #ddd;
              }
            }

            strong {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .post_body {
      // outline: 1px solid #000;
      margin-bottom: 2rem;
      border-bottom: 0.1rem solid #ddd;
      padding: 5rem 1.5rem;
      font-size: 1.7rem;
      line-height: 1.4;
    }

    .btn_box {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      .btn {
        border: none;
        padding: 1rem 2.5rem;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .checkbox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      padding: 5rem;
      background-color: $sc;

      h4 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
        font-weight: 500;
      }

      .check_pwd {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        input {
          outline: none;
          border: 0.2rem solid $mc;
          margin-bottom: 1rem;
          padding: .5rem;
          font-size: 1.6rem;
        }

        button {
          border: none;
          padding: 1rem 0.5rem;
          font-size: 1.9rem;
          background-color: $bc;
        }
      }

      .close_box {
        position: absolute;
        top: 0;
        right: 0;
        padding: .9rem;
        border: 0.1rem solid $sc;
        background-color: #fff;
        cursor: pointer;

        i {
          font-size: 1.9rem;
        }
      }

      .deny_box {
        text-align: center;

        em {
          font-size: 1.4rem;
          color: #f00;
        }
      }
    }
  }
}