@import '../../detail/commonCss/detailCommon.scss';

.my_page {
  .container {
    .title_box {
      border-bottom: 0.2rem solid #ddd;

      h3 {
        @include title_deco(4.5%);
      }

      p {
        @include subDesc;
      }
    }

    .user_box {
      margin-bottom: 3rem;
      padding: 3rem 0;

      h4 {
        margin-bottom: 5rem;
        font-size: 1.6rem;
        font-weight: 500;
      }

      .aplc_list {
        .college_list {
          h5 {
            margin-bottom: 2.5rem;
            font-size: 1.5rem;
            font-weight: 500;
          }

          table {
            border-top: 0.2rem solid #000;
            border-bottom: 0.2rem solid #000;

            thead {
              tr {
                th {
                  border-bottom: 0.1rem solid #ddd;
                  padding: 2rem 0;
                  font-size: 1.5rem;
                  font-weight: 500;
                }
              }
            }

            tbody {
              position: relative;

              tr {
                td {
                  text-align: center;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }

    .btn_box {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }

    .list_title {
      margin-bottom: 5rem;

      h4 {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
      }
    }

    .none_display {
      padding: 3rem 0;
      background-color: #f9f9f9;
      font-size: 1.7rem;
      font-weight: 500;
      text-align: center;
    }
  }
}